.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}

img{
    border-radius: 5%;
}

.titulo{
    display: flex;
    justify-content: center;
}

.paginacion{
    display: flex;
    justify-content: center;
    gap: 10px;
   
}